html {
    margin: 0;
    font-family: 'Noto Sans';
}
.header-bar {
    background-color: rgb(213, 197, 246);
}
.header-title {
    display: inline-block;
    margin: auto 20px;
    vertical-align: middle;
    color: purple;
    text-align: left;
}
.radio {
    font-size: 20px;
}
